.card-game {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width);
    height: var(--height);
    background-color: var(--color-blue);
    border: 2px solid var(--color-white);
}

.card-game img {
    width: 90%;
}