.card-game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 160px;
    background-color: var(--color-blue);
    border: 2px solid var(--color-white);
}

.card-game img {
    width: 90%;
}